<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SW_DBServers" value="localhost" />
    <add key="SW_DBPORT" value="27017" />
    <add key="SW_DBNAME" value="sidwatch_test" />
    <add key="SW_DBUSER" value="sw_test_user" />
    <add key="SW_DBPASSWORD" value="testing" />
  </appSettings>
</configuration>