bin/AWS/AWS.SessionProvider.xml
bin/AWS/AWS.TraceListener.xml
bin/AWS/AWSSDK.xml
src/swLibrary/bin/
src/swLibrary/obj/
src/packages/
*.suo
*.config
src/swTestLibrary/obj/
src/swTestLibrary/bin/
*.user
